{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('search') }}" method="GET" class="search_button">
    <input type="text" name="q" placeholder="Поиск товаров...">
    <button type="submit">Найти</button>
</form>
<a href="{{ url_for('cart') }}" class="go-to-bin">Перейти в корзину</a>

  <div class="category-panel">
    <h2>Категории</h2>
    <ul>
        <li><a href="{{ url_for('index') }}" {% if not selected_cat %}style="font-weight:bold"{% endif %}>Все</a></li>
        {% for category in categories %}
        <li><a href="{{ url_for('index', category=category.id) }}" {% if selected_cat == category.id %}style="font-weight:bold"{% endif %}>{{ category.name }}</a></li>
        {% endfor %}
    </ul>
  </div>

    <h2>Товары</h2>
    <ul>
<div class="products-grid">
  {% for product in products %}
  <div class="product-card">
    <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" width="150" class="product-card-image"/>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><b>{{ product.price }} ₽</b></p>
    <a href="{{ url_for('add_to_cart', product_id=product.id) }}">В корзину</a>
  </div>
  {% endfor %}
</div>


    
{% endblock %}
